[submodule "submodules/AwesomeMenu"]
	path = submodules/AwesomeMenu
	url = https://github.com/levey/AwesomeMenu.git
[submodule "submodules/PullToRefresh"]
	path = submodules/PullToRefresh
	url = https://github.com/batosai/PullToRefresh.git
