<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Info</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.3</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Key</key>
			<string>copyright_preference</string>
			<key>DefaultValue</key>
			<string>2012-2013, chaufourier.fr</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>About</string>
			<key>Title</key>
			<string>Contributions</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autoload_preference</string>
			<key>DefaultValue</key>
			<true/>
			<key>Title</key>
			<string>Mise à jour auto</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>icloud_preference</string>
			<key>DefaultValue</key>
			<true/>
			<key>Title</key>
			<string>Synchronisation iCloud</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ButtonNoteAction</string>
			<key>Title</key>
			<string>Noter l&apos;app</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ButtonSettingsAction</string>
			<key>Title</key>
			<string>Réinitialiser</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
